<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Java/project/springcucumber/spring-boot-cucumber/src/test/java/com/woyou/springcucumber/runner">
        <classes>
            <class name="com.woyou.springcucumber.RunTestSuit"></class>
        </classes>
    </test>
</suite>